/* styles.css */
body {
  font-family: Arial, sans-serif;
}
form {
  margin: 20px;
}
label {
  display: block;
  margin-top: 10px;
}
.slider-container {
  position: relative;
  height: 50px;
}
input[type="range"] {
  position: absolute;
  width: 80%;
}
input[type="range"]:first-of-type {
  z-index: 2;
}
input[type="range"]:last-of-type {
  z-index: 1;
}
select {
  padding: 5px;
  width: 220px;
}
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#recommendations {
  margin-top: 20px;
}
