/* styles.css */
body {
  font-family: Arial, sans-serif;
}
form {
  margin: 20px;
}
label {
  display: block;
  margin-top: 10px;
}
.slider-container {
  position: relative;
  width: 80%;
}
input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none; /* Prevent pointer events on the slider itself */
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #ddd;
}
input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background: #007bff;
  cursor: pointer;
  pointer-events: all; /* Allow pointer events on the thumb */
}
input[type="range"]::-moz-range-track {
  height: 8px;
  background: #ddd;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #007bff;
  cursor: pointer;
  pointer-events: all; /* Allow pointer events on the thumb */
}
input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #007bff;
  cursor: pointer;
  pointer-events: all; /* Allow pointer events on the thumb */
}
select {
  padding: 5px;
  width: 220px;
}
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#recommendations {
  margin-top: 20px;
}
